/* ==========================
   PAYMENT SECTION
========================== */

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgba(11,31,58,0.95);
  backdrop-filter: blur(10px);
}

.header-container {
  max-width: 1300px;
  margin: auto;
  height: 80px;
  padding: 0 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo img {
 
  width: 50%;
 height: 50%;
    object-fit: cover;
}

.site-nav a {
  margin-left: 28px;
  color: #e5e7eb;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s;
}

.site-nav a:hover {
  color: #1e90ff;
}

.nav-btn {
  background: #1e90ff;
  color: #fff !important;
  padding: 8px 18px;
  border-radius: 30px;
}

.nav-btn:hover {
  background: #2563eb;
}


:root {
  --primary-blue: #2563eb;
  --bg-light: #f8fafc;
  --text-dark: #1e293b;
}

#payments {
  font-family: 'Inter', sans-serif;
}

/* Card Styling */
.payment-card {
  padding: 40px 25px;
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #e2e8f0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.payment-card:hover {
  transform: translateY(-10px);
  border-color: var(--primary-blue);
  box-shadow: 0 20px 30px rgba(37, 99, 235, 0.1) !important;
}

/* Icon Design */
.payment-icon-wrapper {
  width: 60px;
  height: 60px;
  background: rgba(37, 99, 235, 0.05);
  color: var(--primary-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  font-size: 1.8rem;
  transition: 0.3s;
}

.payment-card:hover .payment-icon-wrapper {
  background: var(--primary-blue);
  color: #fff;
}

/* Policy List Styling */
.policy-wrapper {
  border: 1px solid #e2e8f0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
}

.policy-item {
  background: white;
  padding: 15px;
  border-radius: 12px;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.03);
  display: flex;
  align-items: flex-start;
  font-size: 0.95rem;
}

.policy-item i {
  font-size: 1.2rem;
}

/* CTA Button Styling */
.btn-primary {
  background: var(--primary-blue);
  border: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #1d4ed8;
  transform: scale(1.05);
}
.footer-section {
  background: #0b1f3a;
  padding: 60px 6% 30px;
  color: #e5e7eb;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.footer-brand h3 {
  font-size: 26px;
  font-weight: 800;
  color: #ffffff;
}

.footer-brand p {
  margin-top: 6px;
  font-size: 14px;
  color: #c7d2fe;
}

.footer-socials {
  margin: 25px 0;
}

.footer-socials a {
  display: inline-block;
  margin: 0 10px;
  color: #1e90ff;
  font-size: 22px;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: #ffffff;
  transform: translateY(-3px);
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  padding-top: 20px;
  font-size: 13px;
  color: #9ca3af;
}